<h2>{{name}}</h2>
<div id="log"></div>
<form {{action send on="submit"}} class="form-inline">
  {{input type="text" value=message}}
  <button type="submit" class="btn btn-primary">Send</button>
</form>